@font-face {
  font-family: 'Source Sans Pro';
  src:  url('SourceSansPro-ExtraLight.woff') format('woff')
}
@font-face {
  font-family: 'visitor';
  src:  url('visitor2-webfont.woff2') format('woff2'),
        url('visitor2-webfont.woff') format('woff');
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
  margin: 0;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: white;
  background: rgba(0,0,0,0.9);
	margin: 0;
  padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

/*
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
*/

input:disabled {
	color: #ccc;
}

button {
  background: rgba(0,0,0,0.4);
  border: 2px solid rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.8);
	outline: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
